@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'News Cycle', sans-serif;
}
body{
    background-image: url(jpeg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 100%;
}
.blog-section{
    width: 85%;
    margin: 20px auto;
}
.blog-section .title{
    width: 60%;
    text-align: center;
    margin: auto;
}
.blog-section .title h2{
    font-size: 40px;
    color: #357ca6;
    text-transform: uppercase;
    margin-top: 50px;
}
.blog-section .title p{
    font-size: 18px;
    color: #7e7e7e;
    margin-top: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}
.cards .card{
    width: 100%;
    position: relative;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content{
    padding: 15px 20px;
}
.content h4{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.content p{
    color: #f6f6f6;
    font-size: 15px;
}
.content a{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    background-color: #3a706a;
    padding: 8px 15px;
}
.card .posted-date{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #ada62b;
    padding: 6px 15px;
}
@media screen and (max-width: 992px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 992px){
    .cards{
        grid-template-columns: 1fr;
    }
    .content p{
        margin-left: -3px;
    }
}